[2019-08-29 19:14] loafbox opened #1 "You ROCK!"

[2019-08-29 19:14] #1 closed

[2019-08-29 22:02] loafbox opened #2 "Failed to start Switch Boot."
LiveCD is working great.  The install also completed, however when I try to boot I get an error that "Failed to switch root on boot"?  And the process hangs.  Any idea what's happening here?

[2019-08-30 11:24] mikeeq commented on #2
You need to provide me some more details ;) Maybe record a video of actual boot process, i don't know if it's hanging on trying to load grub or after. Which MacBook are you actually using and how your partition table looks like ;)

[2019-09-03 16:03] loafbox commented on #2
Here's photo of boot sequence:
https://drive.google.com/file/d/13qwkgyMstTdLZC3P9s6E4vds_-VWt0C2/view?usp=sharing

Kernel:
https://drive.google.com/file/d/13p83b_hzZgjyfMPHXzORXeAJOhLU1PUH/view?usp=sharing

This is a 2019 15" Macbook Pro.  I tried both auto partition and custom.  With custom, I used all the suggested partitions, except change fs type to ext4.

[2019-09-03 16:20] mikeeq commented on #2
Do you have separate partitions for `/boot/efi` HFS+ ESP and for `/boot`?

I'm using this standard partition layout (not LVM):
- /boot/efi - 1024MB Linux HFS+ ESP
- /boot - 1024MB EXT4
- / - 120GB EXT4

Remember that you don't need to use rEFInd, you should be able to boot directly from MacOS boot manager. (you can boot into it by pressing and holding option key after clicking power-on button)

[2019-09-03 16:34] loafbox commented on #2
Thanks, sounds like I need to do some experimenting.  I do have rEFInd installed.  Might go nuclear and start over.  If turns out issue isn't on my end, will re-open.

[2019-09-03 16:34] #2 closed

[2019-09-03 16:51] mikeeq commented on #2
@loafbox You also should boot Fedora Installer USB via MacOS boot manager. There will be three boot options available, usually the third one works for me. (There are three of them, because there are three partitions in ISO: 1) ISO9660 - with installer data, 2) fat32, 3) hfs+)

[2019-09-04 16:43] loafbox commented on #2
Alright got it working now, and I *think* it's because I had LVM on the root and it should have been standard.?.  But all I did was delete the partitions from previous install, and re-install with the exact layout from your comment and everything is good - thanks!

[2019-09-04 19:44] mikeeq commented on #2
I haven't tested any other layouts than standard, my bad. I will try to remember about it during the next release. I'm glad that it's working for you. Cheers Mate.

[2019-09-06 19:15] duncanfinney opened #3 "Need Help?"
This project is really cool. Do you have anything that you'd like some help with?

[2019-09-07 10:48] mikeeq commented on #3
Hi @duncanfinney, thanks for those kind words.

If you have some free time you can try to debug why kernel 5.2 is crashing so often during boot.
https://github.com/mikeeq/mbp-fedora-kernel/releases/tag/v5.2.11-1

and pulseaudio config file is not perfect. You can try to enable dynamic audio input/output change triggered by plugging headphones to minijack or debug if microphone boost/volume is setu

[2019-11-13 16:27] eskimooo opened #4 "Cannot boot live USB on Mac Mini (2018)"
Hi, I'm trying to test this on a Mac Mini (2018), but I cannot actually boot into the installer.

1. Booting to Mac Boot Selection works fine, I'm able to select the 3rd option for EFI Boot.
2. I can see and select the options to boot:

- Start Livecd Fedora
- Test this media & start Livecd Fedora
- Troubleshooting -->

3. At this stage, I select the "Start Livecd Fedora" option, and it seems to p

[2019-11-19 12:09] Kvitz commented on #4
@eskimooo Has it ever worked before, or is this your first try? Do you still have macOS installed and if so, which version? Is it up to date? Today I have updated to 10.14.6 and now I can't boot, neither from the live usb nor the actual installation which had been running up until now.

From the selection menu, could you edit the kernel boot command line and remove the `quiet` argument and replace

[2019-11-22 12:26] mikeeq commented on #4
I'm working on a new build with F31, 5.3 kernel and disabled thunderbolt driver by default - maybe it will work for you, because most of the boot problems are caused by failures during thunderbolt firmware loading.

BTW I don't know why I don't receive notifications whenever someone create a new issue on github...

[2019-12-02 08:55] Kvitz commented on #4
Thanks for the update @mikeeq. After the Security Update 2019-001 and Security Update 2019-006 on mojave the fedora kernel (f30 v5.1.19-7) now panics with a page fault:
`arch/x86/platform/efi/quirks.c:734 efi_recover_from_page_fault+0x2a/0xc0`

If you have any (pre-)release I could test I'd be thankful, as I'm completely unable to boot linux now, even from a live usb. I used to be able to boot a s

[2019-12-05 09:14] rui-r3 commented on #4
I've learnt that the EFI firmware can be updated and I guess one of the security updates did so. This could be the reason why we can't boot linux.

@eskimooo Could you share with us which version of iBridge are you running? You can check it on the `System Information -> Hardware -> Boot ROM version`.

[2019-12-05 09:16] rui-r3 commented on #4
I've learnt the EFI firmware can be updated, which might have happened with one of the security updates installations.

@eskimooo Could you share with us which version of iBridge are you running? You can check on `System Information -> Hardware -> Boot ROM version".

@mikeeq Are you aware of any way to downgrade the EFI firmware? The Apple Configurator 2 seems to download the latest version.

[2019-12-05 09:16] Kvitz commented on #4
I've learnt the EFI firmware can be updated, which might have happened with one of the security updates installations.

@eskimooo Could you share with us which version of iBridge are you running? You can check on `System Information -> Hardware -> Boot ROM version".

@mikeeq Are you aware of any way to downgrade the EFI firmware? The Apple Configurator 2 seems to download the latest version.

[2019-12-05 12:31] mikeeq commented on #4
I'm not aware of any way of downgrading EFI firmware on Macs and yes you're right EFI could be upgraded during OS/security update. I don't have any other Macs to test why is it failing on new version of EFI. Are you sure that secure boot is turned off after EFI update? Have you tried to boot windows or any other Linux distro from USB and was any of these successful?

[2019-12-05 13:22] Kvitz commented on #4
I have tried a stock ubuntu 18.04, which used to boot all the way up to the installer (but keyboard, touchpad, nvme, etc, didn't work), but now it doens't work, neither do your f30 images from a live usb, which I have used before to install linux on mac and were working very well until the update.
I haven't tried windows but I guess I could try bootcamp and a windows usb installed to see if it wou

[2019-12-05 16:04] mikeeq commented on #4
F31 is coming ;) should be ready in 30 mins.

[2019-12-05 17:14] Kvitz commented on #4
@mikeeq Awesome :D I've given it a spin and unfortunately it doesn't solve my efi issue. I will keep investigating to see if there is some way of forcing an older version to be installed.

Thank you for another release!

[2019-12-05 17:38] eskimooo commented on #4
I actually ended up selling the Mac Mini and no longer have it available for testing. Feel free to close the issue if you'd like.

Thanks for the initial assistance though.

[2019-12-08 21:15] mikeeq commented on #4
[code]
I will try to implement those changes into the Fedora Image this week, so it should fix all your problems. @Kvitz

[2019-12-08 21:47] Kvitz commented on #4
@mikeeq Thank you so much! I can boot the fedora 30 I had installed with those kernel args and also the fedora 31 live image you released! I only needed `efi=noruntime` on my macbook 15,1 in order to boot the kernel.

I haven't got catalina installed but I do have the security updates. I believe the current catalina is on the same EFI version though, so these kernel args might work as well.

Thank

[2019-12-15 08:48] leifliddy commented on #4
I need a minipc running Fedora that just needs to connect to a thunderbolt 3 disk enclosure (which will act as my home nas) If someone manages to get Linux running on the Mac Mini 2018 w/ working thunderbolt 3, please let me know. I'm also not opposed to buying a Mac Mini if it would help progress the development of this project. I could perform testing + troubleshooting...etc. Please let me know

[2019-12-16 09:46] zhewang95 opened #5 "v5.3.15-2-f31 install on macbook pro 15,2 throw error: "failed to set new efi boot target. this is most likely a kernel bug""
the /var/log/anaconda/anaconda.log contains:
"ERR modules.storage.partitioning.base_partitioning: Bootloader configureation has failed: Failed to find a suitable stage1 device: EFI System Partition cannot be of type efi.; EFI System Partition must be mounted on one of /boot/efi.; EFI System Partition cannot be of type None.; EFI System Partition cannot be of type hfs+.; EFI System Partition must b

[2019-12-17 04:58] #5 closed

[2019-12-20 09:12] mikeeq commented on #4
Hi @leifliddy,

At the moment Thunderbolt driver is not compatible with Macs with Apple T2 on board (It's disabled in my Fedora build), from kernel 5.2 it's crashing Mac during boot. I don't know if it was working or not on 5.1, because it was failing when it was trying to load TB firmware and I don't have and TB device to test it. I recommend to build/buy standard PC with TB - AMD CPUs are now re

[2019-12-22 15:56] leifliddy commented on #4
I have a mini-itx case, and TB3 on a mini-itx MB is really hard to find. I think I'll just get a 10th gen NUC whenever they're released. Thanks for your advice though. I'm sure someone will eventually figure out how to get TB3 working w/ the T2 chip. I really like the general aesthetics and build quality of apple devices though. The more time + effort + struggle it takes to get Linux to run on a p

[2019-12-25 17:22] JazzBrotha opened #6 "Install bootloader freezes"
Hey @mikeeq!

Really great project! Booting LiveUSB and Mac hardware works beautifull for `v5.3.15-2-f31`. However, even though I am following all of your steps, the installation process freezes at `Install bootloader...`. I have tried both installing on a MBP 2018 with macOS Mojave and Catalina. I saw you addressed this issue in the readme, but I understood the kernel paramer, `efi=noruntime` is

[2019-12-26 19:33] JohnQMetro opened #7 "failed to set new efi boot target. this is most likely a kernel bug"
I got this error message when Fedora was installing the bootloader (using latest version). This is to an external usb hard drive. I continued, hoping the post install script mentioned in 'Known Issues' would fix this, but no luck. The EFI partition was also still HFS, and trying the reformat it to FAT32 using diskutil bugged out (the disk will have to be re-initialized).

[2020-01-01 06:36] zhewang95 commented on #7
I also encountered this error message during installation. Just ignore it and I can boot into system through rEFInd.

[2020-01-01 12:30] JohnQMetro commented on #7
I think the real problem is the EFI partition still being HFS+, when 'HFS+ ESP is reformatted to FAT32 in post-scripts step' is supposed to happen. I don't like messing with OS X boot, so I avoided rEFInd and for my second try used command line utilities (after the installer was done) to backup the HFS+ESP, reformat it to FAT32, and copy the EFI files back.

Of course, installing the wifi firmware

[2020-01-03 20:47] JohnQMetro commented on #7
I've gotten around the wifi issues, so I'd like to thank mikeeq for providing this iso!

[2020-01-05 20:05] geovie commented on #7
I had the same error and solved it by executing the post-install script manually.
I think the problem is that the post install script is checking `/etc/fstab` of the live system:
https://github.com/mikeeq/mbp-fedora/blob/90031216462f09728fb9497e52fc9cb0f732a6e9/files/post-install-kickstart/97-mbp-post-install.ks#L6
should probably be
[code]

@JohnQMetro How did you solved your wifi issues?

[2020-01-06 15:15] mikeeq commented on #7
@geovie You're correct. I will fix that in incoming release with 5.4.7 kernel (upstream NVMe patch).

[2020-01-06 22:34] JohnQMetro commented on #7
@geovie : It was pretty simple: I did not name the txt file correctly. As soon as I renamed it to _exactly the same_ as the instructions, and then restarted the NetworkManager service, the wifi started working.

[2020-01-07 03:59] ktb92677 opened #8 "Macbook Air Wifi"
Hi! So the installation on my 2019 Macbook Air went pretty well. I am having a bit of trouble getting the wifi driver to work. Here is what I did:

From MacOS:
ioreg -l | grep RequestedFiles
C-4355__s-C1/hawaii.trx, C-4355__s-C1/hawaii-X0.clmb, C-4355__s-C1/P-hawaii-X0_M-YSBC_V-u__m-4.3.txt

... So I copied these files and I installed fedora.

From Fedora:

I pasted these files as such:

C-4355__s

[2020-01-07 17:52] ktb92677 commented on #7
@JohnQMetro hey, is there any chance you could take a look at the issue I posted to see if I have everything correct for file names for the wifi driver files? https://github.com/mikeeq/mbp-fedora/issues/8

[2020-01-07 19:51] ktb92677 commented on #8
@mikeeq So per this comment: https://github.com/Dunedan/mbp-2016-linux/issues/112#issuecomment-523483504 looks like brcmfmac4355 is loading okay with at least one version of the kernel patch... is this fedora distribution using that patch?

[2020-01-07 21:17] JohnQMetro commented on #8
@ktb92677 to me, your filenames look fine. I am not an expert, for me, fixing the filenames just allowed the computer to boot. Wifi did not work, but poking at things with command line utilities like iw (included in the iso), showed that the wifi was usable, there was some sort of config issue (probably due to the wifi not working during install). For now, I just use 'systemctl restart NetworkMana

[2020-01-08 11:24] mikeeq opened #9 "Boot/Bootloader issues"
Please post any boot related issues here.

Most of them should be fixed in v5.4.8-f31 release.

Historic issues:
- https://github.com/mikeeq/mbp-fedora/issues/4
- https://github.com/mikeeq/mbp-fedora/issues/6
- https://github.com/mikeeq/mbp-fedora/issues/7

[2020-01-08 11:25] #7 closed

[2020-01-08 11:25] #6 closed

[2020-01-08 11:25] #4 closed

[2020-01-08 11:26] #3 closed

[2020-01-08 12:10] #8 closed

[2020-01-10 07:36] antoniopicone opened #10 "Anaconda wont start"
Hi,
I have a 2019 MBP 13inch disabled secure boot and rebooted into your Fedora: just wifi doesn-t work ootb but Anaconda won-t start.
Please find anaconda.log attached.

[anaconda.log](https://github.com/mikeeq/mbp-fedora/files/4044415/anaconda.log)

I really appreciate your effort to make Linux work on Mac.

Thank you.

[2020-01-10 12:15] mikeeq commented on #10
Should be fixed in v5.4.10-f31 release ;)

[2020-01-10 14:41] antoniopicone commented on #10
it works! thank you! 🤟🏻

[2020-01-10 14:41] #10 closed

[2020-01-10 14:55] antoniopicone opened #11 "Other languages during setup"
Hi,
could you please add other languages during setup ? I'd like to set Italian language :)

Thank you very much.

[2020-01-10 14:57] antoniopicone commented on #11
(I've read your readme and I'll add manually, later...but it would be nice to have at setup: does it make image way bigger ?)

[2020-01-10 15:01] mikeeq commented on #11
Yes it does, much bigger. It will slow down whole building process, so as for know if all issues are not sorted I will leave it with english only. Later on if image will be stable, i will add additional languages ;)

[2020-01-10 15:19] antoniopicone commented on #11
ok, thank you.

[2020-01-10 15:19] #11 closed

[2020-01-10 15:25] antoniopicone opened #12 "MacBook Pro 15,4 WiFi driver setup"
Hi,
running `ioreg -l | grep RequestedFiles` on my MBP 2019, gives:

`"RequestedFiles" = ({"Firmware"="C-4377__s-B3/formosa.trx","TxCap"="C-4377__s-B3/formosa-X3.txcb","Regulatory"="C-4377__s-B3/formosa-X3.clmb","NVRAM"="C-4377__s-B3/P-formosa-X3_M-SPPR_V-m__m-3.1.txt"})`

So I copied the three files from MacOS and renamed into:

`brcmfmac4377-pcie.bin`
`brcmfmac4377-pcie.Apple Inc.-MacBookPro15,4

[2020-01-10 16:06] ktb92677 opened #13 "Latest release doesn't boot on MBA8,2"
Hi @mikeeq, I just downloaded the latest release of mbp-fedora (v5.4.10-f31). The live boot process seems to stay frozen at the screen with the spinning wheel and fedora text + Logo. Anything I should try to debug?

EDIT: I can indeed confirm that release v5.3.15-2-f31 does indeed still boot on my MBA8,2. Don't know if that information helps in the debugging process.

[2020-01-10 16:18] ktb92677 commented on #12
You should probably take a look at this thread: https://github.com/mikeeq/mbp-fedora-kernel/issues/3

[2020-01-10 18:24] mikeeq commented on #12
Antonio please... :D yeah, we have some issues with BCM4377 check other threads ;)

[2020-01-10 18:24] #12 closed

[2020-01-10 18:31] mikeeq commented on #13
Try clicking any key whenever you are on `spinning wheel screen`, you should be able to see logs.

[2020-01-10 18:45] mikeeq commented on #13
@ktb92677 try redownloading the image and reburning it to your usb storage device (or try different one) it's booting correctly for me - MBP 15,2

[2020-01-11 17:52] ktb92677 commented on #13
Okay for some reason after many attempts to boot from the ISO it finally just started booting. Hitting the return key a bunch will for some reason make the ISO boot. Issue closed.

[2020-01-11 18:25] ktb92677 commented on #13
No there's still something wrong. The laptop goes in very odd boot cycles after rebooting the system. My Mac will not boot unless I repeatedly hit the return key on on the keyboard. Why is this?

[2020-01-12 18:57] ktb92677 opened #14 "Battery drain"
So I have been using Fedora on my Mac for a day now and it might be the placebo effect... but I feel like my battery has been dying really REALLY quickly. I mostly used my Mac for some coding and I used the same editor and web browser on both MacOSX and Fedora (Google Chrome, and Atom) and on Fedora I feel like the battery life is half as long as it was on MacOSX.

Has anyone else noticed this? Is

[2020-02-02 22:20] ceinem opened #15 "Working on MacBookPro16,1"
Hi,
I have the 16inch MacBook Pro and tried to install Fedora using your amazing work.
I managed to get it booting from the usb drive, it did a check of the boot medium, showed the fedora logo for a few seconds and then the screen went blank. The Touch Bar started showing stuff (which I thought was a good sign), but nothing else would happen. I restarted the computer after a few minutes and tried

[2020-02-08 01:25] fontivan opened #16 "Discord link in README doesn't work"
The discord link in the README doesn't work, looks like its expired
https://discordapp.com/invite/39Rmjh
![image](https://user-images.githubusercontent.com/21060660/74076707-f979bf00-49e7-11ea-8a7b-202104e3b7db.png)

[2020-02-09 10:45] jamlam commented on #15
I'm typing this from an MBP 16,1, you can boot using Troubleshooting-> Safe Graphics mode from the GRUB menu. Everything seems to work fine apart from the WiFi; as Catalina FW doesn't work when extracted and the MBP 16,1 isn't supported by Mojave there's no firmware available for the chip in these laptops (BCM4634 - Bali). Hopefully someone will find something usable for this soon!

[2020-02-09 10:45] jamlam commented on #15
Bluetooth networking works fine though so there is a workaround.

[2020-02-10 07:49] jamlam commented on #15
After a little experimentation here the works/doesn't work list for the 2019 MBP 16 is as below

Working:
Trackpad (although detected as mouse so no multi-touch or right click atm)
Keyboard (no Fn Keys)
Touchbar
Display
Bluetooth (complains about missing firmware but seems to work)
Camera

Not Working:
Wifi (lacks firmware)
Sound (device detected but no output from speakers)

[2020-02-13 17:38] FabriceColin commented on #15
I am having the same experience as jamlam on my own 16 inch MBP.

Regarding Wifi, I have followed the instructions at https://github.com/mikeeq/mbp-fedora-kernel/#working-with-mbp-fedora-kernel and have these files in /lib/firmware/brcm
-rw-r--r--. 1 root root  762279 Feb 11 21:15  brcmfmac4364-pcie.bin
-rw-r--r--. 1 root root   31538 Feb 11 21:15  brcmfmac4364-pcie.clm_blob
-rw-r--r--. 1 root roo

[2020-02-13 20:20] jamlam commented on #15
I've found that moving to Fedora Mainline kernel 5.6 removes the need for nomodeset, and the patches all still apply. Fn keys work now as well, but no Bluetooth/WiFi or trackpad other than single-finger left click. I think that the hid-apple patch lacks the right DevIDs for the trackpad in the 16,1 so it's getting picked up as a Generic USB Mouse. I've tried adding a few things in there but no luc

[2020-02-15 13:16] luc3004 commented on #15
Hi jamlam, - am not interested in Bluetooth/Wifi at thsi point, need a virtualization engine. tried Fedora LVM few weeks ago did not work.  please can you provide installation instructions/links
MBP16,1 8 core i9 NVMExpress. thanks. !

[2020-02-16 14:00] jamlam commented on #15
Hi, just use mikeeq's gist instructions and ISO. I didn't do anything special apart from select Safe Graphics Mode from the GRUB menu. If you're just using it as a virtualization box I wouldn't bother with the 5.6 version, the only thing it realy gains you is 3D Accel which won't be much use on a VM host. That said, I really wouldn't use this for anything serious yet! I understand that LVM parttio

[2020-02-19 12:33] mikeeq commented on #16
Fixed ;)

[2020-02-19 12:33] #16 closed

[2020-02-26 11:49] mikeeq commented on #13
@ktb92677 Could you please give an update on this issue? Are you still experiencing any issues with 5.5.x releases?

[2020-02-26 11:52] mikeeq commented on #14
I was pretty sure that i responded you in that issues...

I recommend switching from `Atom` to `VS code,` because it consumes a lot fewer resources than `Atom`. You can use `powertop` to check what exactly consumes energy and optimize those services. You can also force CPU to work on lower frequencies which also should gain you some more battery time.

https://extensions.gnome.org/extension/945/cp

[2020-02-26 11:53] mikeeq commented on #15
@jamlam @FabriceColin @luc3004 is it working for you now on MBP16,1, can I close this issue?

[2020-02-26 12:15] jamlam commented on #15
There are a few things we need before we can say it's working for the 2019 MBP I think.
 - Move to 5.6.x to fix nomodeset requirement
 - Fix Wifi - Thanks to a suggestion from Aunali1 I've grabbed the firmware from the Bootcamp drivers. It gets further now but I think the rambase address is incorrect. I'm working on this now (by trial and error) so if I find anything I'll post it here.

I've also

[2020-02-26 12:57] FabriceColin commented on #15
Beside Wifi, the other issue I have on MPB 16,1 is that intermittently keyboard and trackpad are not working at all, I need to plug an external USB keyboard.

[2020-02-26 20:25] ktb92677 commented on #13
Yes! This seems to be fixed in the latest release. I am closing out this issue

[2020-02-26 20:25] #13 closed

[2020-02-26 20:26] ktb92677 commented on #14
Okay thank you very much!

[2020-02-26 20:26] #14 closed

[2020-03-10 06:53] SolarJuice opened #17 "Enable iGPU?"
Hello,
I tried using rEFInd / 0xbb's apple_set_os.efi to spoof the os version, and tried 0xbb's gpu-switch to swtich graphics. But it seems that his gpu-switch script doesn't work for this distro / mbp15,1.
https://github.com/0xbb/gpu-switch/issues/51
I've put an issue under his script's page, but I think it is also a good idea to ask it here as it may be a distro compatibility issue - "Couldn't m

[2020-03-10 10:48] mikeeq commented on #17
Hi @SolarJuice,
After macOS Catalina update it's no longer possible to mount efivarfs - mac just freezes whenever you're trying to do it.

[2020-03-10 14:47] rieske commented on #15
I am on MBP 16,1 as well.

What still does not work for me:
- wifi (haven't yet played with rambase addresses, just tried different combinations of firmware, including one from bootcamp - no luck)
- audio output (headphones output works fine)
- built-in microphone as well as headphones microphone - shows some signs of life, but the volume  of recorded audio is too low to be usable

Another thing t

[2020-03-10 14:57] kevineinarsson commented on #15
@rieske does your laptop have a discrete AMD GPU? For modesetting to work for me I needed to use kernel 5.6 (mainline) because of some changes to the amdgpu module. I used (this)[https://github.com/jamlam/mbp2019-5.6-patches] set of patches without 2001-Revert... (issue open to test if it's needed) and compiled 5.6-rc5 which solved my issues.

[2020-03-10 17:53] SolarJuice commented on #17
Thanks for the answer. Is this a firmware update that cannot roll back? Does downgrading to Mojave work?

[2020-03-11 17:13] rieske commented on #15
@kevineinarsson thanks!
Yes, mine has a discrete AMD GPU. I managed to compile 5.6-rc5 kernel with https://github.com/mcmrarm/mbp2018-bridge-drv/ and https://github.com/roadrunner2/macbook12-spi-driver/tree/mbp15 and the patches that you linked to applied. HDMI worked with it, as well as keyboard/touchpad/touchbar/bluetooth, however, the system became very unstable overall. I guess I will play wit

[2020-04-20 08:33] mikeeq commented on #15
Can anyone with MBP 16" test a new build with v5.6.5 backed in?

[2020-04-23 22:12] ceinem commented on #15
I just tried the new build. Seems to install fine, no problems. I'm not sure if I missed something, but it set up the psrtition layout by itself, I only had to specify some empty harddrive space. Kernel update script is running right now, will report later. So far still no luck with the wifi.

[2020-04-24 09:30] andyrichardson commented on #9
Hey @mikeeq thanks for the awesome work!

I quickly tried this out last night and wasn't able to get it to boot past GRUB (black screen after a few initial messages). Given the timing of the black screen, I'm pretty sure it's a graphics issue.

I'm going to try again tonight by blacklisting the Radeon Pro drivers, but would be awesome to know if anyone else has experienced this issue on a similar

[2020-04-24 18:06] yamrzou opened #19 "Does Thunderbolt work with kernel 5.6 ?"
Hi,

Thanks a lot for this work.

In the README it's marked `Thunderbolt (is disabled, because driver was causing kernel panics (not tested with 5.5 kernel))`

I saw you recently released a new version with kernel `v5.6.5`. Does it solve the Thunderbolt issue?

Asking because I want to install this on Mac mini (2020), and mainly interested in Thunderbolt for the eGPU.

[2020-04-25 08:07] FabriceColin commented on #15
I installed 5.6.5 with dnf on a system installed with the previous ISO, don't see the apple-ib* kernel modules that exist for 5.4.10-200.mbp. Therefore keyboard and trackpad are not functional. What am I missing?

[2020-04-26 14:16] ceinem commented on #19
I installed the latest release on my macbookpro16,1 but so far no thunderbolt support.

[2020-04-26 23:44] ceinem commented on #15
@FabriceColin you probably have to use the update commands for the customized kernel from [here](https://github.com/mikeeq/mbp-fedora-kernel#how-to-update-kernel-mbp)

[2020-04-27 07:25] FabriceColin commented on #15
Indeed, that's what I needed to do. Thanks!

[2020-04-27 08:13] mikeeq commented on #15
Sorry guys, I wasn't using my computer during the weekend. Thanks for help @ceinem, yes that's true you need to run the update from that script, because there are multiple settings which you need to cover after the first boot and it wasn't possible to do it in the kickstart. Also I was trying to include external modules in the kernel itself but I couldn't make it working, so it's done via bash scr

[2020-04-27 08:16] mikeeq commented on #19
You can try it by yourself, by dynamically enabling it by running `sudo modprobe thunderbolt`.

I don't have any TB3 devices at home, so I'm not able to properly test it, so it's disabled by default (for our own safety, because it was really unstable [on Macs] in previous versions of Linux kernel)

[2020-04-27 08:18] mikeeq commented on #17
I don't think that the downgrade process will downgrade the version of EFI itself, but I haven't tested it - so if you want, you can try it ;)

[2020-04-27 11:11] luc3004 commented on #15
Macbook 16,1: AMD Radeon Pro 5500M(PCIe), Intel UHD Graphics 630 (buit-in), NVMExpress/4TB - using mostly for KVM virtualization  (16vCPU, 64GB mem)

Have just installed 5.6.5-300, LVM,  the problems so far:

- it reboots sometimes
-after lid is closed, someties screen remains black - still accessible from remote via ssh
- ventilators work intensively even if  the load is not high on vCPU (all vCP

[2020-04-27 11:51] mikeeq commented on #15
@luc3004 have you checked CPU temps when fans speed bumped up?
[code]

[2020-04-27 16:21] luc3004 commented on #15
__________________________________________________
sar -u 1 3
Linux 5.6.5-300.mbp.fc31.x86_64 (mac20) 	04/27/2020 	_x86_64_	(16 CPU)

06:09:20 PM     CPU     %user     %nice   %system   %iowait    %steal     %idle
06:09:21 PM     all      4.30      0.00      1.62      0.00      0.00     94.08
06:09:22 PM     all      4.18      0.00      1.37      0.00      0.00     94.39
06:09:23 PM     all      4

[2020-04-30 08:05] yamrzou commented on #19
Thank you for the responses, I actually ended up returning the Mac mini before testing..

[2020-04-30 11:54] LukaJankovic commented on #19
I have a razer core x chroma that I've tried with my macbook pro 16" on linux. With nomodeset it gets recognised in gnome settings but nothing happens and without nomodeset it gets recognised too but the system freezes after a few seconds.

[2020-05-06 08:24] luc3004 commented on #15
update: if i stop display-manager (gdm, kdm, ...) then i can run couple of VMs without issues.
As i use this laptop mostly for virtualization, this is ok for now.

One issue which appeared lately: the laptop keyboard/mouse are not accessible. Haven'T had time to investigate

[2020-05-07 22:29] cristianmiranda commented on #17
Hi @SolarJuice @mikeeq I'm having exactly the same issue. Is there a way to workaround this?.

[2020-05-19 10:17] folke opened #20 "Can't boot into installed system on Macbook15,2"
Initially Anaconda wouldn't load, but I was able to fix that by adding `modprobe.blacklikst=thunderbolt` to the boot parameters.

After this, I successfully was able to install Fedora.

After rebooting with the option key, I have a new boot entry `EFI Boot` (which I assume is the one for Fedora?), but when I pick that, it eventually starts the recovery manager saying that additional software is re

[2020-05-19 10:47] mikeeq commented on #20
Are you following the tutorial from readme.md? How did you put the ISO on your USB stick - all grub kernel args should be already in place, you shouldn't need to edit manually anything ;) (in theory)

Are you using the latest release?

[2020-05-19 14:44] folke commented on #20
Hi! Im using the latest release. Without the extra blacklist parameter, the installer doesn't boot.

I used the fedora disk utility in macos.

I was initially confused with the "standard" layout. I thought it referred to the default partitions, but in the meantime I found you need to chose "custom" and then standard as partitioning scheme (and not LVM).

Did it that way this morning, but didn't wo

[2020-05-19 14:45] folke commented on #20
I do have the extra swap partition. Would that cause any issues?

[2020-05-19 14:50] folke commented on #20
Same issue again after retrying. When I choose Efi Boot after installation, it starts the macos recovery tool with the error message:

A software update is required to use this startup disk

[2020-05-19 15:28] folke commented on #20
This is odd. I copied the image using Rufus in parallels instead now and the grub parameters are completely different.

Froze initially, but running the installer right now with basic graphics.

Fingers crossed 🤞

[2020-05-19 15:35] folke commented on #20
Now it works! Not sure what happened, but apparently the Fedora Media Writer messed something up

[2020-05-20 18:29] #20 closed

[2020-05-21 07:20] mikeeq commented on #20
Glad to hear that. Cheers @folke .

[2020-05-21 19:53] folke opened #21 "Is it safe to remove nomodeset for a 13 inch macbook pro, Macbook15,2?"
First of all, a big thanks for working on this project!

I noticed nomodeset is part of the grub command line. After removing it, the GPU is enabled and everything seems to be working perfectly fine on my macbook pro 13 inch. Everything obviously runs way smoother as a result and the screen brightness can be adjusted.

Is there any reason I would not want to remove nomodeset?

[2020-05-22 10:12] mikeeq commented on #21
`nomodeset` is not a part of my cmdline kernel args - awkward :D Have you changed anything manually?

[code]

[2020-05-22 10:48] folke commented on #21
Maybe it was added during installation since I had to use the installer in basic graphics mode?

[2020-05-22 10:49] folke commented on #21
Closing this. Not an issue at all it seems :-)

[2020-05-22 10:49] #21 closed

[2020-05-30 13:43] berrfred commented on #9
Do not consider an issue but I just want to share my experience... at some point in time, maybe after updating kernel to v5.6.13, my grub menu with the latest 3 kernels disappeared and my mbp was booting automatically in v5.6.13 (which has a problem with displaying Function keys).

After a lot of searching and trying various useless solutions...I found out this command that solved it:

    sudo gr

[2020-06-02 14:06] ceinem commented on #19
I enabled this for running an iTec Docking Station, but it didn't get recognized unfortunately.

[2020-07-13 04:12] lonniemmercer opened #23 "Anyway to get sleep/suspend working?"

[2020-09-22 13:21] mariakesa opened #24 "installing fedora on iMacpro 1,1"

[2020-09-22 13:29] mariakesa commented on #24
Hello,

I'm trying to install your mbp-fedora on iMacPro 1,1 and I get the following screen after burning the iso and booting into the disk I get the following screen and it hangs in it
`https://github.com/mariakesa/Neural-Data-Analysis/blob/master/IMG_0671.jpg`
Any help would be appreciated!

[2020-09-24 11:47] encombhat commented on #17
See this post for a solution: https://apple.stackexchange.com/questions/166876/macbook-pro-how-to-disable-discrete-gpu-permanently-from-efi

TL;dr: Execute this command to set efivars manually in macOS single user mode:
`nvram fa4ce28d-b62f-4c99-9cc3-6815686e30f9:gpu-power-prefs=%01%00%00%00`

Works for me (Macbook Pro 15', 2019)

[2020-09-24 11:53] SolarJuice commented on #17
@encombhat Thanks! I'll try it out. btw is this permanant or revertable?

[2020-09-24 14:23] encombhat commented on #17
Well, it should be persistent across reboots, but you can always reset the NVRAM manually.

[2020-09-24 16:20] icyLollipop commented on #17
cool, thanks~

[2020-10-28 00:01] matteha opened #25 "External monitors don't work"
Thanks for the great work! Been using mbp-fedora on my MBP 2018.

Just a heads up, may be worth mentioning in the README as well: external monitors don't seem to work on mbp-fedora on my laptop (MBP with dgpu AMD). Tried different monitors and different cables but no luck. They work instantly with mbp-ubuntu so it seems to be an mbp-fedora problem.

[2020-10-28 06:44] folke opened #26 "Can I safely upgrade to fedora 33?"
Can I safely do a system upgrade to 33? Or will it break?

Would rather know if anyone successfully did the upgrade before trying myself 🙂

[2020-11-15 18:17] Jeremaster101 commented on #26
I have upgraded to fedora 33 on my mac mini 2018 and all seems to be working fine. Nothing broke (so far)

[2020-11-25 23:58] direlime commented on #25
I fixed this problem on my MBP 15,3 2019 with the dGPU by removing the nomodeset kernel argument at boot. This allows the gnome-session to start in Wayland, which supports the external monitors.

Hope this helps.

[2020-11-30 11:07] ezdora opened #27 "MacBookAir9,1 - bcm4377"
Hi,

Congrats for the great job you are doing!

I have a MacBookAir 9,1 and followed your tutorial for the bcm4364, but whitout success.

What do I have to do for the bcm4377 to work?

[2021-01-12 07:54] jasonhan-vassar opened #28 "How do I extract the release .zip and .z01 into an .iso?"
Hi, what is the way to obtain the full .iso from the release files? I believe they are multipart but I'm not sure how to combine them into a single zip that `unzip` or my archive program can recognize. Can you please let me know the full command(s) to use? Thanks!

[2021-01-15 17:25] guest-08 commented on #28
Two ways but all have the same requirement: the livecd.zip and livecd.z01 need to be in the same folder.

**1 - The Unarchiver**
- Right click on any on the files
- Open with The Unarchiver

As long as they are in the same folder, it will be able to join them together automatically.

**2 - Terminal**
- Open Terminal
The commands will look like this:
[code]

So, for me:
[code]

Cheers

[2021-01-15 19:12] mikeeq commented on #28
Guys please...

Everything is in a readme ;)

- Download .iso from releases section - <https://github.com/mikeeq/mbp-fedora/releases/latest>
  - If it's splitted into multiple zip parts, you need to join splitted files into one and then extract it via `unzip` or extract them directly via `7z x` or `7za x`
    - <https://unix.stackexchange.com/questions/40480/how-to-unzip-a-multipart-spanned-zip-on

[2021-01-15 19:19] mikeeq commented on #28
If you will have any problems with booting the latest version from releases try v5.6.7-f32 release, it was built without DP patch.

[2021-01-21 17:13] rotorek commented on #15
I've just tried to install v5.7-f32 on MacBookPro16,1 (2019).  It boots ok, however internal keyboard and touchpad are not working. I see that bce module is loaded, however dmesg is full of errors with bce, like "bce_vhci_urb_dequeue 81".
When I try to run "Install to Hard-Disk", then nothing happens and after approx 5s the app shuts itself down everytime. Other apps like Firefox work just fine.

[2021-04-17 21:16] Zodeck opened #30 "Fedora 33 installed in an SSD boots in Macbook pro (2015) but doesn't on Mac mini (2018)"
MacBook Pro has only 10.14.6 installed
Mac mini has 11.1, 10.14.6 and windows (bootcamp)

Fedora 33 is installed in an external NVMe M.2 solid state drive;

[2021-04-19 18:44] Vestaia commented on #30
What is the error? Boot with `loglevel=7` kernel parameter to get debug messages.
What are you using to boot (Apple EFI bootloader, rEFInd, Grub)?
Neither the MacBook or the Mac Mini has an external M.2 port. What are you using? USB, Thunderbolt?
Have you generated the initramfs using `dracut` with the needed modules for both devices?

[2021-04-22 17:29] jasonhan-vassar commented on #28
Thank you!

[2021-04-22 17:29] #28 closed

[2021-05-08 09:08] FabriceColin opened #31 "Fedora 34"
Any chance of a new release based off Fedora 34?

[2021-05-13 06:15] #26 closed

[2021-06-23 14:15] mikeeq commented on #30
@Zodeck please add some more details

[2021-06-23 14:15] #30 closed

[2021-06-23 14:16] mikeeq commented on #27
All information about wifi can be found here: https://wiki.t2linux.org/guides/wifi/

[2021-06-23 14:16] #27 closed

[2021-06-23 14:16] mikeeq commented on #25
Thanks for the info!

[2021-06-23 14:16] #25 closed

[2021-06-23 14:18] mikeeq commented on #24
Try to add nomodeset to kernel args ;)

[2021-06-23 14:18] #24 closed

[2021-06-23 14:21] mikeeq commented on #23
My build has already been using this fix, but maybe something has gone wrong in your installation so please follow this article: https://wiki.t2linux.org/guides/dkms/#fixing-suspend

Nevertheless even with a fix, suspend sometimes works, sometimes not.

[2021-06-23 14:23] #15 closed

[2021-06-24 08:52] mikeeq commented on #31
Fedora 34 was released ;)

[2021-06-24 08:52] #31 closed

[2021-06-25 16:23] thepolarbear0818 commented on #9
@andyrichardson I have the same issue, It said something about wifi set to 1, then nothing happened and the text is stuck on the screen. I tried all the boot options but they all gave me the same thing.

I have a 2019 macbook air.

[2021-06-30 17:26] Mewtzie commented on #19
I see that to this day the thunderbolt is disabled? So I guess it's still having issues? Just wanting to know because I was planning on installing Linux on my 16" for a bit of gaming and stuff like that, mainly because I really dislike Windows and Microsoft's privacy practices and how badly the OS performs anyway. I was hoping to maybe use a docking station with an eGPU if Linux performed nicely.

[2021-07-01 09:43] sxiii commented on #19
@Mewtzie I'm having MBP16 with thunderbolt disabled; USB Hubs for Ethernet; USB Flash etc. etc. works perfectly as they don't require Thunderbolt to operate. Also I was able to load and test couple of steam games (including proton titles emulation!) without any problems, although more of indie titles, not very graphically intense apps. If you want external GPU box, you'd probably better go for Ali

[2021-07-01 10:02] sxiii opened #35 "Sound channels are swapped - MBP 16,1 with Fedora 34"
Greetings.

I've just found out that after updating from F32 to F34 my audio channels on MBP16,1 are swapped this way:
* Front-Center channel outputs to Front-Right
* Front-Right channel outputs to Front-Center

I was going to find how to do remapping in Pipewire configuration and was reading Pipewire Wiki as well as Arch wiki on Pipewire, and was unable to find information on how to change channe

[2021-07-06 13:53] folke commented on #23
@mikeeq see my fix at https://github.com/mikeeq/mbp-fedora-kernel/issues/14#issuecomment-874778928

I assume it's already working for people without a touchbar, but for me I need to unload `hid_apple` as well to make the keyboard working again on resume.

[2021-07-12 12:38] sonhanguyen commented on #19
Just double checking does this mean external monitors work directly/through dock?

[2021-07-17 22:21] skywalkerz0r opened #36 "Macbookpro A2141: Live usb won't boot up: Warning: /dev/disk/by-label/fedora-mbp=x86_64-202106231409 does not exist"
Hi,

I am trying to boot the image livecd-fedora-mbp-202106231409.iso on a Macbook pro A2141.

I did the steps described in the README, when I click on the third option (second EFI boot option), it goes to grub.
From there I select the first option, I see the Fedora splash screen. After a minute or so, I have the error below.
The keyboard won't work. Neither the MacBook kb nor a USB one. I am stuc

[2021-07-17 22:22] skywalkerz0r commented on #36
Oh, by the way, I have this same issue trying to boot up Fedora 33 from the upstream directly.
I found this page here, with a guy saying simply type in "exit", however, like I said the keyboard won't work ;(

https://cialu.net/fedora-not-boot-on-macbook-pro/

[2021-07-18 09:56] mikeeq commented on #36
It seems like wrongly created live usb, have you created live usb using `dd` command?

[2021-07-18 20:45] skywalkerz0r commented on #36
Damn, you're right. I used the fedora media creator.
As I had the same issue I was getting with the fedora upstream, I didn't consider it as the problem. Thanks Mike

[2021-07-18 20:45] #36 closed

[2021-07-18 21:00] skywalkerz0r commented on #36
@mikeeq btw, thunderbolt seems to work here!
i modprobed it, and i can use another screen.
i am testing the live image now.

when should i be seeing the kernel panic issue?

[2021-08-26 08:20] mikeeq opened #39 "Audio profile is not changed/setup correctly when done from Gnome Settings Sound tab"
https://github.com/mikeeq/mbp-fedora-kernel/issues/17

[2021-09-02 18:45] justinpchang opened #40 "Installs well but wifi does not work (16,2 - BCM4364r4)"
Hi all.

I followed the instructions in the README and got fedora installed. The next step would be to run update_kernel_mbp however I have no internet connection so the script fails. In settings, there are only options to set up wired connections, so I guess I'm missing drivers or something? My laptop and wifi adapter versions are listed in the title.

Thanks.

[2021-09-02 19:27] justinpchang commented on #40
I tried to copy the firmware over using the instructions on the t2linux wiki but it says brcmfmac failed to initialize

[2021-09-03 03:48] AdityaGarg8 commented on #40
May I know the ISO you used.

[2021-09-03 12:18] justinpchang commented on #40
@AdityaGarg8 the most recent release of this repo, Fedora 34 MBP15 26.08.2021

[2021-09-03 12:52] AdityaGarg8 commented on #40
@justinpchang use https://github.com/mikeeq/mbp-fedora/releases/tag/v5.13.12-f34-mbp16.

The MBP15 version is not compatible with 16,2. You need the MBP16 version

[2021-09-03 12:54] justinpchang commented on #40
@AdityaGarg8 I'll try it today, thank you. Not sure how I missed the release name, just clicked on the most recent one!

[2021-09-03 14:22] justinpchang commented on #40
@AdityaGarg8 I tried it with that release and it worked! Still had to apply the wifi fixes at the t2linux site, but works great now. Thanks so much for your help

[2021-09-03 14:22] #40 closed

[2021-09-03 14:54] AdityaGarg8 commented on #40
@justinpchang , if you are talking about iwd fixes then do them only if required. In some distros wpa2 is stable without iwd. Sometimes iwd behaves badly when it is not required.

[2021-09-03 19:56] justinpchang commented on #23
@AdityaGarg8 Is there a fix for this? I also have a keyboard with a touchbar and they both do not work after suspend. I am now having to restart my computer any time the lid closes. I would be willing to just disable my touchbar completely if that fixes something

[2021-09-04 03:38] AdityaGarg8 commented on #23
@justinpchang , remove the ibridge drivers for suspend.

[2021-09-04 14:51] justinpchang commented on #23
@AdityaGarg8 I unloaded apple_ibridge driver and the other touch at ones that use it with mod probe -r and I still get the same behavior on suspend. Is this not the correct way to remove them?

[2021-09-04 15:19] AdityaGarg8 commented on #23
@justinpchang , run
[code]

This will remove the driver completely alongwith the touch bar unloading script, since it won't be required now.

[2021-09-04 20:01] justinpchang commented on #23
@AdityaGarg8 Thanks! For future people with the same issue, I think my system is set up differently so I had to find the apple-ibridge and apple-ib-tb driver locations with modinfo, then removed them and the script. Then I had to run dracut -f and after reboot, suspend works.

[2021-10-02 19:49] snibles opened #43 "Wireless not working"
Hi!
Anyone had any luck with wireless networks?
I can only see wired connection when installing in a MacBook Pro 2019 15".
Anyone have any advice?

[2021-10-03 04:30] AdityaGarg8 commented on #43
What’s the output of uname -r

[2021-10-03 04:34] AdityaGarg8 commented on #43
And what’s your model indentifier. Follow https://wiki.t2linux.org/guides/wifi/ to check it.

[2021-10-17 17:53] kocierik opened #45 "kernel_Patch TouchBar error"
<i>make: Entering directory '/usr/src/kernels/5.14.9-200.mbp16.fc33.x86_64'
  CC [M]  /tmp/kernel_patch/touchbar/apple-ibridge.o
  CC [M]  /tmp/kernel_patch/touchbar/apple-ib-tb.o
  CC [M]  /tmp/kernel_patch/touchbar/apple-ib-als.o
/tmp/kernel_patch/touchbar/apple-ib-als.c: In function ‘appleals_config_iio’:
/tmp/kernel_patch/touchbar/apple-ib-als.c:490:50: error: ‘struct iio_dev’ has no member na

[2021-11-09 14:02] #43 closed

[2021-11-09 14:03] mikeeq commented on #45
Not sure why is it flagging an error, it's working locally on my machine and in the CI, so it needs to be specific to your environment.

[2021-11-09 14:47] kocierik commented on #45
![issue](https://user-images.githubusercontent.com/41591336/140945120-8c52bbfa-b51e-4be8-b613-0cc21e42de42.png)
If I launch version 5.13.12 it works. (macOS Big Sur - version 11.6)

[2021-11-09 14:47] #45 closed

[2021-11-16 22:49] jinwk00 opened #47 "Any specific upgrade instruction from 34 to 35?"
Since the mbp-fedora 35 was updated 11 days ago, and I have mbp-fedora 34 build, I would like to know if there are any specific instructions that I can follow. If not, then may I follow typical Fedora upgrade instructions?

[2021-11-17 05:45] oboff commented on #47
https://github.com/mikeeq/mbp-fedora#how-to-upgrade-current-mbp-fedora-installations

[2021-11-22 13:29] atodorov opened #48 "Has anyone tried the latest Macbooks with M1 CPU ?"
I am curious if anyone has tried those as I'll be looking for hardware refresh soon.  Do the latest Macbook models work with Linux ?

[2021-11-22 15:09] networkException commented on #48
See https://asahilinux.org/

The drivers that make up this project are not going to work as ARM based Apple Silicon is fundamentally different from what runs on devices with the T2 chips

[2021-12-12 17:33] khanmo97 opened #49 "Partition Problems"
I'm not sure if this is a partition problem or the boot loader. Currently, the installation destination only has my entire SSD. It doesn't include the partition I made. My partition of the SSD is 200 GB in APFS format. I'm not sure where I went wrong. Here's a picture of what the installation destination looks like.

![image](https://user-images.githubusercontent.com/60152013/145722983-9c05778f-2b

[2021-12-14 04:00] ExperiBass commented on #49
Format the partition as FAT and then try installing, Linux doesn't recognize APFS.

[2021-12-26 12:39] ThomasBernard28 opened #50 "Touchbar issue w/ MBP 13" 2020 4ports"
Sometimes the touchbar does not even turn on. Sometimes it's blocked on Fn keys sometimes on sounds keys etc.

[2021-12-26 12:42] ThomasBernard28 opened #51 "Bluetooth not working on MBP 13" 2020 4 ports"
Impossible to connect to bluetooth devices

[2022-03-02 01:28] sharpenedblade opened #54 "Make seperate dnf source"
Make this repos ci push to a release, which can be used as a source for dnf. This means a nomral upgrade can update this to

[2022-03-03 02:00] hellosway opened #55 "Update kernel to 5.16.11-200.fc35"
the latest kernel version in fedora 35 is 5.16.11-200.fc35

[2022-03-05 00:54] nikodunk opened #56 "Do you have a Patreon / Buymeacoffee / GH Sponsors?"
Hi there,

This build provides a ton of value to me. I'd love to buy you at least a coffee or two. I cannot find another way to contact you to ask, but... do you have a GH Sponsor/ Patreon / Buymeacoffee account?

After 6 months of successfully running your rebuild on my T2 Macbook Air and multiple Kernel upgrades, I'm very thankful for your work!

Best,
Niko

[2022-04-10 09:48] BurrPro opened #57 "Having issues getting wifi working"
Hey team, love the work you've put in - Fedora is running flawlessly on my 2018 MacBook Air 8,1

I've been trying to get wifi working for two days now, following the guides on t2linux - originally i had Catalina installed, and saw on a forum post that the Catalina drivers don't work.

I've now got Mojave installed - I'm not sure if these drivers are compatible with F35? Besides I tried and had no

[2022-04-10 10:28] AdityaGarg8 commented on #57
It would be better if you upgrade your kernel using a wired internet (ethernet, USB tethering etc)

https://github.com/mikeeq/mbp-fedora-kernel#how-to-update-kernel-mbp

Then follow this guide

https://wiki.t2linux.org/guides/wifi/

[2022-04-10 10:30] AdityaGarg8 commented on #57
Basically, after upgrading the kernel only, the script would work.

[2022-04-10 10:31] AdityaGarg8 commented on #57
If you cannot upgrade, then you have to manually retrieve the firmware, manually rename it and paste it in Linux.

https://github.com/t2linux/wiki/blob/a4b46a7cfbe7efcbb6a0b6111e22172b0f5c4a77/docs/guides/wifi.md#retrieving-firmware

[2022-04-10 10:33] AdityaGarg8 commented on #57
Nope, this will rename the firmware wrongly. You basically attempted to use the script to dump Big Sur firmware into Linux, but that won't work because the renaming done by the script is different, and works in the upgraded kernel, not the one you have rn.

[2022-04-10 10:35] BurrPro commented on #57
Thanks for such a quick response!! Was not expecting that at all

I will give that a shot, here's hoping updating the kernel works :+1:

Thanks again, I'll update this thread with the results

[2022-04-10 10:55] AdityaGarg8 commented on #57
I forgot mention that it's recommended to upgrade macOS to the latest version before using the wifi script.

[2022-04-10 12:20] BurrPro commented on #57
I've been trying to avoid that as I'm only on ADSL and it takes about 4 hours to download macos...

I've reinstalled fedora to have a fresh start, and updated kernel + copied over firmware files correctly renamed for my chipset, although it's still not working.

When I run `sudo journalctl -k --grep=brcmfmac`

I'm getting this output:
[code]

I'm going to give up for the night, but any suggestions

[2022-04-10 12:55] AdityaGarg8 commented on #57
Looks like you didn't use the script

[2022-04-10 12:56] AdityaGarg8 commented on #57
Now you simply have to use the script as mentioned in the wiki. Probably use firmware from Monterey.

[2022-04-10 12:57] AdityaGarg8 commented on #57
The renaming has to be done if you wanted to use the older kernel.

[2022-04-10 12:58] AdityaGarg8 commented on #57
So simply run the script macOS Monterey and then run it again in Fedora.

[2022-04-13 08:59] BurrPro commented on #57
Solved it finally, wifi is working great!

Installed macOS Monterey, reinstalled fedora and updated the kernel - ran the script, after a reboot wifi worked perfectly.

Still having some quality of life issues such as sleep/ wake issues but I've seen some posts on how i can fix that around.

Thanks for the support and the great work team!

[2022-04-13 08:59] #57 closed

[2022-05-11 06:15] yavko opened #59 "Fedora 36"
Hi, fedora 36 came out today and I was wondering if mbp-fedora will be updated, and if maybe a ETA? Thanks and I appreciate the work on this project!

[2022-05-11 06:16] yavko commented on #9
Same on a macbook pro 2015 15'

[2022-05-11 16:08] mikeeq commented on #59
Fedora 36 was released

[2022-05-11 16:08] #59 closed

[2022-05-11 16:08] mikeeq commented on #55
Updated

[2022-05-11 16:09] mikeeq commented on #49
It's documented in readme.md

[2022-05-11 16:09] #49 closed

[2022-05-11 16:09] #48 closed

[2022-05-11 16:10] #47 closed

[2022-05-11 16:12] mikeeq commented on #51
@ThomasBernard28 have you tried on newer versions of kernel, seems to be working properly for me ;)

[2022-05-11 16:38] CommieOrangePeel opened #61 "failed to download meta data"
[root@fedora ~]# FEDORA_VERSION=36 dnf system-upgrade download -y --releasever=${FEDORA_VERSION} --exclude='kernel*'
Fedora  - x86_64                                                34 kB/s |  93 kB     00:02
Errors during downloading metadata for repository 'fedora':
  - Status code: 404 for https://mirrors.fedoraproject.org/metalink?repo=fedora-&arch=x86_64 (IP: 152.19.134.198)
  - Status code: 4

[2022-05-11 18:15] mikroskeem commented on #61
Try simply `dnf system-upgrade download -y --releasever=36 --exclude='kernel*'`

[2022-06-13 03:31] agokal opened #62 "Suspend not working on MBP 16' 2020"
Suspend does not work on system sleep. Confirmed that rr_mod_tb.sh is in /lib/systemd/system-sleep.

I am unsure of what to check next for further troubleshooting.

[2022-06-13 05:28] agokal commented on #62
Closing as known issue: https://github.com/Dunedan/mbp-2016-linux > readme > Suspend & Hibernation

[2022-06-13 05:28] #62 closed

[2022-06-18 10:16] Raphty commented on #56
Yes, I am just about to try this on my mac as well, and if it works I would like to give some money as well!!

[2022-06-27 20:08] #61 closed, assigned to nobody

[2022-06-27 20:09] #51 closed

[2022-06-30 10:35] kenfallon commented on #9
I cannot unlock the disk with the laptop keyboard, only by adding an external usb one.

I reported this bug to fedora previously but it was fixed somehow
[Bug 1978104](https://bugzilla.redhat.com/show_bug.cgi?id=1978104) - No keyboard when prompted for luks password on macbook

[2022-07-02 21:20] mikeeq commented on #9
@kenfallon I'm not sure why you've raised a bug on Fedora's bugzilla for that. Are you using this build? What model of Macbook do you have?

I'm using LUKS encrypted OS partition on my Macbook 2021 with my build everything works as it should - internal keyboard on grub and next on LUKS screen where you need to type your password.

This line is responsible for making sure that you have hid_apple an

[2022-07-22 04:12] marc-h38 commented on #9
First, thanks for the pre-built Fedora images! I would have simply not bother trying anything without them.

Everything worked fine except one really nasty issue that took me many hours to understand and fix: my 150MB `/boot/efi/` partition had a partially broken VFAT formatting. I unfortunately did not take note (stupid me) but the fsck.vfat error message was something about the number of cluster

[2022-08-09 10:23] mikeeq commented on #56
GH sponsors were added, thanks guys for your support!

[2022-08-09 10:23] #56 closed

[2022-08-24 15:31] kenfallon commented on #9
Sorry was away with life issues. To clarify I was running native Fedora before, and it got fixed. Then I installed where the issue cropped up.

I tried to understand how to do that when I had the issue on native Fedora. I there a how to somewhere that I could follow ?

[2022-11-03 14:15] mikeeq commented on #39
@sxiii can you verify if it's fixed now?

[2022-11-04 19:59] mikeeq commented on #54
Done in v6.0.5-f37 release, thanks!

[2022-11-04 19:59] #54 closed

[2022-11-04 19:59] mikeeq commented on #50
Should be fixed now in the new version of mbp-fedora-kernel.

[2022-11-04 19:59] #50 closed

[2022-11-04 20:00] #39 closed

[2022-11-15 18:06] szilardx commented on #23
Hi,
With a fresh install (F37 from here) on a MBP 13 2019 any pointer how to get suspend working? Tried it with Ubuntu, and suspend was working fine with that (https://github.com/AdityaGarg8/T2-Ubuntu/releases/tag/v6.0.7-1)
The system suspends properly - based on logs, but I cannot wake it up. Not with keyboard, power button, lid, external input.
Only solution is to keep the power button pressed t

[2022-11-16 14:38] kenfallon commented on #9
I just wiped the disk. Reinstalled everything from scratch with the latest OSX and installed the latest version
2c3f95f94151123df47047e15d29e5b067fba4272dd46d493613afb3f0a45143  ./livecd-fedora-mbp-kde-202211061003.iso

I encrypted the disk with luks and got the same issue. Namely the laptop keyboard is not working to decrypt the drive. I can decrypt the drive with an attached usb keyboard.

The l

[2022-11-22 07:37] dmzoneill opened #68 "link broken"
Sorry i think i opened it on the wrong repo issues page.
On the README, that link to the wireless drivers is still broken.
I tried it in firefox and chrome and even with curl using **--no-certificate-check**.

Docs
Discord: https://discord.gg/Uw56rqW
WiFi firmware: https://packages.aunali1.com/apple/wifi-fw/18G2022
blog Installing Fedora 31 on a 2018 Mac mini: https://linuxwit.ch/blog/2020/01/inst

[2022-11-22 07:39] dmzoneill commented on #68
[code]

[2022-11-22 22:16] mikeeq commented on #68
Fixed

[2022-11-22 22:16] #68 closed